<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <img src="/img/target.png" alt="">
    <title>MyGoalsApp</title>
</head>

<div>
    <h1 class="header" >My 2022 Goal</h1>
    <p class="quote">Il vaut mieux faire que dire.</p>
</div>


<body>
  <ol>
      <% goal.forEach(goal=> { %>
        <div class="main">
          <li>
              <a class="month" href="/goal/<%= goal._id %>">
                  <%= goal.name; %>
              </a>
              <form action="/goal/<%= goal.id %>?_method=DELETE" method="POST" style="display: inline; margin-left: 16px;">
                  <input class="delete" type="submit" value="X" />
              </form>
              <a class="edit" href="/goal/<%=goal._id %>/edit">Modify</a>
          </li>
        </div>
          <% }); %>
  </ol>
</br>
  <a class="button" href="/new/">Add New Goal</a>
</body>

<div>
    <footer class="footer">Let's Go !!!</footer>
</div>
<!-- style="float: left;" -->
</html>