<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/css/new.css">
		<img src="/img/target.png" alt="">
		<title>Goal List</title>
	</head>
	<body>
		<div class="form">
		<h1>New Goal</h1>
		<form action="/goal" method="POST">
			<input type="text" name="name" placeholder="Add month" /><br />
			<input class="desc" type="text" name="description" placeholder="Write your goals here"/><br />
		</div>
			<input class="submit" type="submit" name="" value="Add Goal" />
		</form>
    </br>
        <a href="/goal">Back</a>
	</body>
	</body>
</html>

