
body{
    background-color: #A0522D;
    text-align: center;

}



input {
    width: auto;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--light-green);
    border-radius: 5px;
    text-align: center;
  }

/* input[type="submit"] {
    width: 100%;
    height: 50px;
    background: var(--bright-orange);
    box-shadow: 2px 2px var(--light-green);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: black;
    border: 0px;
    transition: 0.2s ease-in-out; */

    .form {
        background-color:#743416;
        color: white;
        border: 2px solid black;
        margin: 100px;
        padding: 70px;
        text-align: center;
        
    }

    .desc {
        width: 250px;
        height: 100px;
        max-width: 400px;
        max-height: 150px;
        text-align: center;
        
    }