
body{
  background-color: #A0522D;
  text-align: center;

}


.header{
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  background-color: #743416;
  
}

.quote{
  background-color: white;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border: 2px solid #743416; /* Green */
  width: auto;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

/* .title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* text-decoration:line-through; */
  



  li{
    background: #743416;
    padding: 5px;
    margin-left: 35px;
    
    
  }

  ol li {
    list-style-type: circle;
    padding: 10;
    list-style: none;
    width: 500px;
    margin: auto;
    
    
  }

  

  .main{
    text-decoration: aliceblue;
    color: aliceblue;
  }

  .name{
    color: aliceblue;
  }

  .delete{
    color: red;
    float: left;
    
  

  }

  .edit{
    float: right;
  }

  .month{
    text-decoration-line: none;
    color: aliceblue;
    background-color: white;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border: 2px solid #743416; /* Green */
    width: auto;
    margin: 10px 0;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    
  }

  .month:hover {background-color: #3e8e41}

.month:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  
.button{
  background-color: white;
  color: black;
  border: 2px solid #743416; /* Green */
  width: auto;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.footer{
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  background-color: #743416;
 
}