
body{
    /* background-image: url("target.png"); */
    /* background-color: #cccccc; */
    background-color: #A0522D;
    text-align: center;

}


.title{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fit {
    max-width: 99%;
    max-height: 99%;
}


/* .img{
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 75px;
  text-align: center;
  justify-content: center;
  animation:backwards;
  
} */

.image-container{
  /* background-color: black; */
  height: 500px;
  width: 700px;
  /* border: 10px solid black; */
  position: relative;
  margin: auto;
}

.image-container img{
  width: 100%;
  height: 100%;
}

.transition-image{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 1 ease;
}

.transition-image:hover {
  opacity: 1;
}

